<table>
    <tr>
      <th>DATE</th>
      <th>CAMPAIGN</th>
      <th>VIEW</th>
      <th>ACTIONS</th>
    </tr>
    <tr *ngFor = "let campaign of pastCampaigns;let i =index;">
      <td>{{campaign.date | date : 'yyyy-MM-dd'}}</td>
      <td style = "color : #676789;">{{campaign.name}}</td>
      <td><img [src]="campaign.image" style = "max-height : 30px;max-width : 30px;"></td>
      <td><img [src]="campaign.action_image"  style = "max-height : 20px;max-width : 20px;"><input #schedule style = "margin-left: -151px;opacity: 0;"type = "date" (input) = "clicked(i)"/></td>
    </tr>
  </table>
  
  