
<div class = "row">
  <div class = "col-xs-12 text-center" style = "color: #676789;
  font-size: 20px;">
    Manage <b>Campaigns</b>
  </div>
</div>
<div class = "row" style = "margin-top: 20px;">
  <div class = "col-xs-2">
  </div>
  <div class = "col-xs-3">
    <button type = "button" class = "btn btn-success" (click) = "setCampaign('future')">Upcoming Campaigns</button>
  </div>
  <div class = "col-xs-3">
      <button type = "button" class = "btn btn-success" (click) = "setCampaign('live')">Live Campaigns</button>
  </div>
  <div class = "col-xs-3">
      <button type = "button" class = "btn btn-success" (click) = "setCampaign('past')">Past Campaigns</button>
  </div>
  <div class = "col-xs-2">
  </div>
</div>
<div class = "row" *ngIf = "campaign == 'past'" style = "margin-top: 20px;">
    <div class = "col-xs-12">
        <app-past-campaign></app-past-campaign>    
    </div>
</div>
<div class = "row" *ngIf = "campaign == 'live'" style = "margin-top: 20px;">
    <div class = "col-xs-12">
      <app-live-campaign></app-live-campaign>
    </div>
</div>
<div class = "row" *ngIf = "campaign == 'future'" style = "margin-top: 20px;">
    <div class = "col-xs-12">
      <app-upcoming-campaign></app-upcoming-campaign>
    </div>
</div>


